
<h1>GitHub Score</h1>
<form (submit)="getInfo()" #formData="ngForm">
  <p>
    GitHub Username: 
    <input type="text" name="username" [(ngModel)]="username" required>
  </p>
  <input type="submit" value="Calculate GitHub Score" [disabled]="!formData.valid">
</form>

<div *ngIf="score !== undefined">
  <h1>Your Score: {{ score }}</h1>
  <p *ngIf="score < 20">Needs work!</p>
  <p *ngIf="score >= 20 && score < 50">A decent start!</p>
  <p *ngIf="score >= 50 && score < 100">Doing good!</p>
  <p *ngIf="score >= 100 && score < 200">Great job!</p>
  <p *ngIf="score >= 200">GitHub elite!</p>
</div>

